[Desktop Entry]
Exec=ip-250306
Name=IP-250306
Type=Application
Icon=etalon-250306
Version=1.0
Terminal=false
Comment=АСУ БСУ IP-250306
Path=/usr/share/ip_250306
StartupNotify=true

