[Desktop Entry]
Exec=pysca-hmi
Name=IP-250306
Type=Application
Icon=ip-250306
Version=1.0
Terminal=false
Comment=АСУ БСУ IP-250306
Path=/usr/share/pysca-hmi
StartupNotify=true

